.notes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notes li {
    list-style: none;
    margin: 4px 0;
}

.noteDelete {
    position: absolute;
    border: 1px solid grey;
    right: 0;
    top: 0;
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: lightslategrey;
    color: white;
}